.container {
  background-color:  #333;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.eyeWrapper {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 15px;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.open,
.close {
  stroke-width: 2px;
  position: absolute;
  top: 0.5px;
}

.open {
  display: none;
}
